.text-censor{
    -webkit-text-security: disc;
}


.container-transactions{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.header-conta{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 467px;
}


