.btn-services{
    border-radius: 6px;
    border: 1px solid var(--banco-primary, #FF8C00);
    background: #FFF;

    display: flex;
    width: 70px;
    height: 53px;
    padding: 7px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 6px;
    flex-shrink: 0;
    flex-wrap: wrap;

    font-size: 12px;
}